//Responsive Variables
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1200px;


//Colour Variables
$dark-green: #373D20;
$mid-green: #717744;
$green: #CCD5AE;
$light-green: #E9EDC9;
$lightest: #FEFAE0;
$beige: #FAEDCD;
